li, a.exception {
    position: relative;
    text-decoration: none;
    display: inline;
    font-size: 25px;
    font-weight: 100;
    color: aliceblue;
    padding: 0 15px;
    letter-spacing: 0.5px;
    font-family: 'popins',sans-serif;
}

a.exception:after {
    content: "";
    position: absolute;
    background-color: aliceblue;
    height: 2px;
    width:0;
    left: 0;
    bottom: -10px;
}

a.exception:hover {
    color: rgb(246, 215, 203);
}

a.exception:hover::after {
    width: 100%;
}

a.except {
    position: relative;
    text-decoration: none;
    display: inline;
    font-size: 25px;
    font-weight: 100;
    color:rgb(246, 215, 203);
    padding: 0 15px;
    letter-spacing: 0.5px;
    font-family: 'popins',sans-serif;
}

a.except::after {
    content: "";
    position: absolute;
    background-color: rgb(246, 215, 203);
    height: 2px;
    width:100%;
    left: 0;
    bottom: -10px;
}

div.main {
    position: relative;
    background-image: url(images/top-view-sweet-croissants-arrangement-with-copy-space.jpg);
    height: 500px;
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.name_logo {
    position: absolute;
    left: 65px;
    top: 350px;
    width: 40%;
}

div.navbar {
    position: absolute;
    right: 85px;
    top: 380px;
}

h1,h3 {
    font-weight: 100;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    font-family: 'popins',sans-serif;
}

div.intro {
    font-family:'popins',sans-serif ;
    font-size: 20px;
    width: 50%;
}

.staffTable td {
    width:50%;
    padding: 0px;
    margin: 20px;
    vertical-align: top;
}

.caption {
    float: right;
    width: 60%;
    margin: 0 0 0 25px;
    padding-left: -50px;
}

.staff {
    float: left;
    margin: 0;
}

.staff:hover {
    transform: scale(1.2);
}

.caption p {
    width: 120%;
    font-size: 21px;
    line-height: 25px;
    font-family: 'popins',sans-serif;
    color: rgb(0, 0, 0);
}

.caption h2 {
    font-size: 28px;
    font-family: 'popins',sans-serif;
    color: orange;
    margin: 10px;
    margin-left: 0;
}

.caption h2:hover {
    transform: scale(1.1);
}

.figure  {
    width: 80%;
    padding: 5%;
}

.staffm {
    font-size: 22px;
    font-family: 'popins',sans-serif;
    color: green;
    margin: 10px;
    margin-left: 0;
}

.staffm:hover {
    transform: scale(1.1);
}

.parallax {
    background-image: url("images/about2.png");
    position: relative;           
    min-height: 300px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 115px 30px 115px;
}

.aboutTable td {
    width: 50%;
    vertical-align: top;
}
